QLabel
{
        font-size: 11pt;
} 
QPushButton
{
        color: white;
        font-size: 10pt; 
        width:180px;
        height:28px;
        font-weight: bold;

}
QPushButton:disabled
{
    color:rgba(244, 239, 239, 0.554);
}

QProgressBar {
        height: 30px;
}    

QLineEdit
{
    font-size: 10pt; 
}
QComboBox {
        height:30px;
        border: 1px solid #e1e0e0;
        border-radius: 5px;
}
QMainWindow{
        background-color:#fff4f4f4;
}